build/
build-raef/
cmake-build-*/
CMakeCache.txt
CMakeFiles/

*.exe
*.o
*.out
*.dll
*.so
*.dylib

*.user
*.user.*
*.pro.user*
*.autosave

# Local/legacy QtCreator project copy (do not commit)
Atelier_Connexion (2) (1)/

.vscode/
.DS_Store
